In [7]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
import math
%matplotlib inline

In [8]:
file=r'https://gist.githubusercontent.com/curran/a08a1080b88344b0c8a7/raw/639388c2cbc2120a14dcf466e85730eb8be498bb/iris.csv'
iris = pd.read_csv(file)
df = pd.DataFrame(iris)

df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [11]:
x = df.drop(['species'],axis=1)
y = df['species']

x.head()
y.head()

y=LabelEncoder().fit_transform(y)
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.3,random_state=42,stratify = y)

lr = LogisticRegression(C = 0.1 , max_iter = 1000)
lr.fit(x_train,y_train)
y_pred = lr.predict(x_test)

print("Training Accuracy : " + str(lr.score(x_train,y_train)))
print("Testing Accuracy : " + str(lr.score(x_test,y_test)))

from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test,y_pred)

Training Accuracy : 0.9619047619047619
Testing Accuracy : 0.9333333333333333